<form method="POST">
    <div>
        Nome: <input name="nome" value="<%=contato.nome %>" />
    </div>
    <div>
        E-mail: <input name="email" value="<%=contato.email %>" />
    </div>
    <input type="submit" value="Salvar" />
    <input type="hidden" value=value="<%=contato.id %>" />
</form>